nav .fa-solid{
    display: none;
}


@media only screen and (max-width: 600px) {
    * {
        box-sizing: border-box;
    }

    body, html {
        width: 100vw;
        height: 100vh;

    }

    #header{
        background: #fff;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* padding: 0 10px;  */
        /* position: relative; */
        /* z-index: 1; */

    }
    nav {
        /* width: -100vw; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px; 
    }

    nav .logo {
        font-size: 40px;
        font-weight: bold;
        margin-left: 10px; 
        padding-top: 30px;
    }

    nav .fa-solid{

        display: block;
        font-size: 25px;
        margin-right: 20px;
        right: 50px;
        cursor: pointer;
    
    }

    nav ul{
        /* display: block; */
        background: #242424;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li{
        display: block;
        margin: 25px;

    }

    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
        
    }


    /* Align elements */
    .container {
        
        text-align: center;
    }
    .home {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 10px;
    }
    .home .img-box {
        width: 100%;
        margin-bottom: 10px;
        margin-top: 25px;

    }
        
    
    .home .header-text {
        justify-self: start;
        order: 2; 
        text-align: left;
        margin-left: -120px;
    }

    .header-text {
        /* margin-top: 90px; */
        text-align: left;
        margin-left: 20px;
        margin-right: 0;
        margin-bottom: 150px;
    }

    .header-text h1 {
        margin-left: -10px;
        font-size: 50px;
        /* margin-right: 50px; */
        white-space: nowrap;

    }

    .header-text h4 {
        /* margin-top: 10px; */
        font-size: 24px;
        margin-left: -7px;
        width: 215px;
    }

    
    .wrapper {
        display: flex;  
        justify-content: center;
        align-items: center;
        white-space: nowrap;
        font-size: 24px;
        width: 300px;
        height: 30px;
        margin: 0 auto;
        text-align: center;
        /* margin-left: -20px;  */
        margin-top: 0;
        margin-left: -7px;
        overflow: hidden;

    }

    .static-txt, .dynamic-txts {
        text-align: left;
        display: inline-block; /* Ensure they stay on the same line */
        /* overflow: hidden; */
    }


    .dynamic-txts {
        margin-left: 0; /* Removes extra space on smaller screens */
        line-height: 30px; /* Adjust line height for better readability */
        height: 30px;
        overflow: hidden;
        width: 100%;
    }
        
    .dynamic-txts li {
        /* font-size: 24px;  */
        line-height: 30px;

    }

    .dynamic-txts li span::after {
        /* content: ""; */
        /* position: absolute; */
        /* width: 100%;  */
        height: 40px; 
        background: #fff;
        /* animation: typingSmallScreen 3s steps(12) infinite;  */
    }

    /* @keyframes typingSmallScreen {
        0% {
            left: 0;
        }
        50% {
            left: calc(100% + 10px); 
        }
        100% {
            left: 0;
        }
    }
     */




     .btn-box{
        flex-direction: column;
        margin-left: -7px;
        
     }

  /* --------------------about--------------------------------------- */
     #about{
        background: #000;
        width: 100vw;
        padding: 20px;
     }

     .container{
        width: 100%;
        max-width: 1200px;
        /* margin: 0 20px; */
    }

     .sub-title{
        font-size: 40px;

     }

     .about-col-1, .about-col-2{
        flex-basis: 100%;
     }

     .about-col-1{
        margin-bottom: 20px;
        left: 10%;

     }

     .about-col-2{
        font-size: 15px;
        margin-right: 20px;
        text-align: left;
     }


     .tab-titles p {
        font-size: 16px;
        margin-right: 25px;
        /* padding-right: 20px; */
    }

    
    /* -----------------------skills------------ */
    
    #skills{
        padding: 30px 20px;
    }
    .title h2{
        font-size: 16px;
        margin-right: 25px;
    }

    .skills-grid {
        grid-template-columns: repeat(2, minmax(150px, 1fr)); /* Two columns for small screens */
        grid-gap: 10px; /* Reduced gap for compact layout */
        /* margin-left: -20px; */
   
    }

    .exp-box {
        width: 100%;
    }






    


}
    























/* nav .fa-solid{
    display: none;
}


@media (max-width: 600px) {
    #header{

        background-size: contain;
        flex-direction: column-reverse;
    }

    .container{
        flex-direction: column-reverse;
    }

    nav {
        padding: 20px 5%;
    }

    .fa-bars {
        display: block;
    }

    #sidemenu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.9);
        flex-direction: row;
        justify-content: center;
        align-items: center;
        transition: 0.3s;
        z-index: 1000;
    }

    #sidemenu li {
        margin: 20px 0;
    }

    nav ul {
        display: none;
    }

    .fa-xmark {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .fa-xmark:hover {
        color: orangered;
    }

    .home {
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        width: 100%;
        box-sizing: border-box;
    }

    .header-text {
        width: 100%;
        text-align: center;
    }

    .header-text h1 {
        font-size: 50px;
    }

    .btn-box {
        justify-content: center;
    }

    .img-box {
        width: 100%;
        text-align: center;
    }

    .img-box img {
        max-width: 300px;
    }
}
 */
